.app-wrap {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #316274;
  border-radius: 10px;
}
/* search section */
.search-wrap {
  padding-top: 20px;
  padding-bottom: 30px;
}
.form-control:focus {
  border-color: #c3c5c8;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #316274;
}
.btn-outline-primary {
  color: #316274;
  border-color: #316274;
}
.btn-outline-primary:hover {
  color: #e7e6e0;
  background-color: #316274;
  border-color: #316274;
}
/* weather details */
.weather-wrap {
  padding-top: 20px;
  padding-bottom: 30px;
}
h1 {
  color: #316274;
  font-size: 40px;
  text-align: center;
}
.image {
  text-align: center;
}
.main-icon {
  height: 80px;
  width: 80px;
}
h2 {
  color: #316274;
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
}
ul {
  color: #c3c5c8;
  text-align: center;
  margin-bottom: 0;
  list-style-type: none;
}
/* Date section */
.date {
  color: #316274;
  float: right;
  font-size: 13px;
  margin-right: 25px;
}
/* forecast section */
.forecast-wrap {
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  display: flex;
}
.forecast {
  color: #316274;
}
.card-body {
  border-top: 2px solid rgba(195, 197, 200, 0.5);
  position: relative;
  align-items: center;
}
/* bottom section */
small {
  display: block;
  text-align: center;
  margin: 0 auto;
}
