body {
  background-color: rgba(150, 170, 179, 0.5);
}
.app-wrap {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #1b3745;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
/* search section */
.search-wrap {
  margin-bottom: 20px;
}
.form-control {
  background-color: rgba(150, 170, 179, 0.2);
}
.form-control:focus {
  border-color: #96aab3;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1b3745;
}
.btn-primary {
  color: #96aab3;
  background-color: #1b3745;
  border-color: #1b3745;
  box-shadow: none;
}
.btn-primary:hover {
  color: #1b3745;
  border-color: #1b3745;
  background-color: transparent;
}
.btn-primary:focus {
  color: #1b3745;
  border-color: #1b3745;
  background-color: transparent;
  box-shadow: none;
}
/* weather details */
.weather-wrap {
  padding-top: 20px;
  padding-bottom: 30px;
}
h1 {
  color: #1b3745;
  font-size: 40px;
  text-align: center;
}
.units {
  position: relative;
  font-size: 20px;
  top: -15px;
}
.celsiusDefault {
  color: #1b3745;
  cursor: default;
}
.celsiusDefault:hover {
  color: #1b3745;
}
.celsiusNew {
  color: #96aab3;
  cursor: pointer;
}
.celsiusNew:hover {
  color: #1b3745;
}
.fahDefault {
  color: #96aab3;
}
.fahDefault:hover {
  color: #1b3745;
}
.fahNew {
  color: #1b3745;
}
.fahNew:hover {
  color: #96aab3;
}
.image {
  text-align: center;
}
.main-icon {
  height: 80px;
  width: 80px;
}
h2 {
  color: #1b3745;
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
}
ul {
  color: #96aab3;
  text-align: center;
  margin-bottom: 0;
  list-style-type: none;
}
/* Date section */
.date {
  color: #1b3745;
  float: right;
  font-size: 13px;
  margin-right: 25px;
}
/* bottom section */
small {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.githubLink {
  color: #1b3745;
}
